{% comment %}--------Compare--------{% endcomment %}

<div class="modal fade" id="modal-compare">
    <div class="modal-dialog">
        <div class="modal-content">
            <a href="" class="close" data-dismiss="modal">&times;</a>
            <div class="modal-body clear-all">
                <div class="append append-owl clear-all owl-carousel"></div>
            </div>
        </div>
    </div>
</div>