<div id="gallery">

</div>

{% schema %}
  {
    "name": "Gallery",
    "settings": [
		{
			"type": "select",
			"id": "per-row",
			"label": "Images per row",
			"options": [
				{
					"value": "49.5%",
					"label": "2 per row"
				},
				{
					"value": "32.5%",
					"label": "3 per row"
				},
				{
					"value": "24.5%",
					"label": "4 per row"
				},
				{
					"value": "19.5%",
					"label": "5 per row"
				}
			],
			"default": "32.5%"
		}
	],
	"blocks": [
		{
			"type": "image",
			"name": "Image Block",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				}
			]
		}
	]
  }
{% endschema %}

{% style %}
.image-wrap {
  display: inline-block;
  width: {{ section.settings.per-row }};
  height:500px;
  background-size:cover;
  margin: 1px; 
 }
{% endstyle %}

{% javascript %}
{% endjavascript %}
